body{
    background-color: rgba(102, 198, 246, 0.575);
}
h1{
    text-align: center;
}
nav{ 
    text-align: center;
    margin: 25px;
    font-size: x-large;

}
.contact{
    text-align:center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(157, 205, 44, 0.521);
    padding: 5px;
    gap: 15px;
}
body{
}
h3{
    color: rgb(0, 3, 6);
}
h2{
    text-align: center;
    color: black;
    font-size: 1.7rem;
}
div{
    border-radius: 10px;
    background-color: rgb(231, 234, 236);
    max-width: 600px;
    font-size: large;
}
   label{
    text-align: center;
    padding: 10px;
margin: auto;
font-size: larger;
   }
   input{
    text-align: center;
    margin: auto;
    width: 50%;
border-radius:5px ;
min-height: 30px;

   }
   textarea{
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 50%;
   min-height: 100px;
    background-color: rgb(249, 246, 246);
   }
   footer{
    font-size: larger;
    max-width: 800px;
    text-align: center;
    background-color: rgb(14, 132, 243);
    padding: 2px;
    margin: auto;
    border-radius: 10px;
   pre{
    display: inline-block;
    text-align: center;
    font-family: cursive;
   }
   a{
    text-align: center;
    margin: auto;
    
   }
   